<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzSWr5u5qtRIX2HU7oKeCd3nnlSTgCZl0</string>
	<key>GCM_SENDER_ID</key>
	<string>249156444841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jjinternational</string>
	<key>PROJECT_ID</key>
	<string>jj-international-import-export</string>
	<key>STORAGE_BUCKET</key>
	<string>jj-international-import-export.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249156444841:ios:99f2b6eed325eee0c7bfb8</string>
</dict>
</plist>